/* Style général */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Style du formulaire */
form {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

select, button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #e6e6e6;
  margin-right: 10px;
}

button[type="submit"]:not(.recherche-button) {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}


.recherche-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}


/* Style des rapports */
.rapport {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.rapport p {
  margin: 0 0 10px 0;
}

.rapport strong {
  font-weight: bold;
}

.rapport ul {
  list-style-type: none;
  padding: 0;
}

.rapport li {
  margin-bottom: 5px;
}

/* Style des boutons */
/* Style des boutons */
.button-container {
  display: inline-block;
}

.btn {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  background-color: transparent;
  box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 0.8em; /* Taille de police relative */
  color: white;
  margin-right: 15px; /* Ajout de marge pour espacer les boutons */
}

.btn:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.btn:active {
  opacity: 0.5;
}