{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier Rapport</title>
</head>
<body>
    
    <div class="container">
        <div class="content">
    <h2>Modifier Rapport</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <!-- Bouton de soumission -->
        <button type="submit">Enregistrer les modifications</button>
    </form>
</div>
</div>
</body>
</html>
