<form method="post">
    {% csrf_token %}
    <label for="daterapport">Date du rapport:</label><br>
    <input type="date" id="daterapport" name="daterapport" value="{{ rapport.daterapport|date:'Y-m-d' }}"><br><br>
    
    <label for="motif">Motif:</label><br>
    <input type="text" id="motif" name="motif" value="{{ rapport.motif }}"><br><br>
    
    <label for="bilan">Bilan:</label><br>
    <textarea id="bilan" name="bilan">{{ rapport.bilan }}</textarea><br><br>

    <!-- Champ texte pour afficher l'ID du médecin du rapport -->
    <label for="idmedecin">ID Médecin:</label><br>
    <input type="text" id="idmedecin" name="idmedecin" value="{{ rapport.idmedecin_id }}" readonly><br><br>
    
    <input type="submit" value="Enregistrer les modifications">
</form>
