{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>Modifier le visiteur</title>
</head>
<body>
    <h1>Modifier le visiteur</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enregistrer les modifications</button>
    </form>
</body>
</html>
