<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil du visiteur</title>
</head>
<body>
    <h1>Profil du visiteur</h1>
    <div class="rapport">
        <a href="{% url 'tableau_de_bord' visiteur.idvisiteur %}">Retour au tableau de bord</a>
        <p><strong>Nom:</strong> {{ visiteur.nomvisiteur }}</p>
        <p><strong>Prénom:</strong> {{ visiteur.prenomvisiteur }}</p>
        <p><strong>Login:</strong> {{ visiteur.login }}</p>
        <p><strong>Mot de passe:</strong> {{ visiteur.mdp }}</p>
        <p><strong>Adresse:</strong> {{ visiteur.adressevisiteur }}, {{ visiteur.villevisiteur }}, {{ visiteur.cp_visiteur }}</p>
        <p><strong>Date d'embauche:</strong> {{ visiteur.dateembauchevisiteur }}</p>

        <!-- Bouton pour supprimer le visiteur -->
        <form method="post" action="{% url 'supprimer_visiteur' visiteur.idvisiteur %}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce visiteur?');">
            {% csrf_token %}
            <button type="submit">Supprimer le visiteur</button>
        <button href="{% url 'modifier_visiteur' visiteur.idvisiteur %}">Modifier le profil</button>
    
    
    </form>
    </div>
</body>
</html>
