<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil du visiteur</title>
</head>
<body>
    <h1>Profil du visiteur</h1>
    <div class="rapport">
    <p><strong>Nom:</strong> {{ visiteur.nomvisiteur }}</p>
    <p><strong>Prénom:</strong> {{ visiteur.prenomvisiteur }}</p>
    <p><strong>Login:</strong> {{ visiteur.login }}</p>
    <p><strong>Adresse:</strong> {{ visiteur.adressevisiteur }}, {{ visiteur.villevisiteur }}, {{ visiteur.cp_visiteur }}</p>
    <p><strong>Date d'embauche:</strong> {{ visiteur.dateembauchevisiteur }}</p>
</div>
</body>
</html>
