<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <title>Tableau de bord</title>
</head>
<body>
    <header>
        <h1>Tableau de bord</h1>
        <form method="get" action="{% url 'tableau_de_bord' visiteur_id %}">
            <label for="idmedecin">Rechercher un médecin :</label>
            <select name="id_medecin" id="id_medecin">
                <option value="">Tous les médecins</option>
                {% for medecin in medecins %}
                    <option value="{{ medecin.idmedecin }}">{{ medecin.nom }}</option>
                {% endfor %}
            </select>         
            <button type="submit" class="recherche-button">
                <img src="{% static 'recherche.png' %}" alt="Votre Image" style="width: 30px; height: 30px;">
            </button>
        </form> 
        <a href="{% url 'deconnexion' %}"class="icon-container" style="position: absolute; top: 55px; right: 140px; ">
            <img src="{% static 'deconnexion.png' %}" alt="Voir tous les médecins" style="width: 30px; height: 30px;">
        </a>
        <a href="{% url 'liste_medecins' %}"class="icon-container" style="position: absolute; top: 55px; right: 320px;">
            <img src="{% static 'docteur.png' %}" alt="Voir tous les médecins" style="width: 30px; height: 30px;">
        </a>
        <!-- Bouton pour accéder au profil du visiteur -->
        <a href="{% url 'profil_visiteur' visiteur_id %}" class="icon-container"style="position: absolute; top: 55px; right: 200px;">
            <img src="{% static 'profil-de-lutilisateur.png' %}" alt="Profil Visiteur" style="width: 30px; height: 30px; display: block; margin: auto;">
        </a>
        
        <!-- Bouton pour créer un rapport -->
        <a href="{% url 'create_rapport' visiteur_id %}" class="icon-container"style="position: absolute; top: 55px; right: 260px;">
            <img src="{% static 'signe-plus.png' %}" alt="Créer Rapport" style="width: 30px; height: 30px; display: block; margin: auto;">
        </a>

        <!-- Bouton de déconnexion -->

    </header>

    <!-- Styles CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    
    <!-- Section des rapports -->
    <h2>Rapports:</h2>
    {% for rapport in rapports %}
    <div class="rapport">
        <p><strong>Date du rapport:</strong> {{ rapport.daterapport }}</p>
        <p><strong>Motif:</strong> {{ rapport.motif }}</p>
        <p><strong>Bilan:</strong> {{ rapport.bilan }}</p>
        <p><strong>Médecin:</strong> {{ rapport.idmedecin.prenom }} {{ rapport.idmedecin.nom }}</p>
        <!-- Boucle sur les médicaments associés à ce rapport -->
        <p><strong>Médicaments:</strong></p>
        <ul>
            {% for mr in rapport.medicamentrapport_set.all %}
            <li>{{ mr.idmedicament.nomcommercial }} - Quantité: {{ mr.quantite }}</li>
            {% endfor %}
        </ul>

        <form method="post" action="{% url 'supprimer_rapport' rapport.idrapport %}" class="button-container" >
            {% csrf_token %}
            <a href="{% url 'supprimer_rapport' rapport.idrapport %}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce rapport?')" class="btn">
                <img src="{% static 'supprimer.png' %}" alt="Supprimer Rapport" style="width: 40px; height: 40px;">
            </a>
            <a href="{% url 'modifier_rapport' rapport.idrapport %}" class="modifier-button">
                <img src="{% static 'editer.png' %}" alt="Modifier Rapport" style="width: 40px; height: 40px;">
            </a>
        
        </form>
    </div>
    {% endfor %}
</body>
</html>
